<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymbolManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymbolManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SymbolManager.Properties.Settings.ADAConnectionString"
            connectionString="Data Source=WIN2003;Initial Catalog=ADA;Persist Security Info=True;User ID=ada;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SymbolManager.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="CultureName" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SymbolManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SymbolManager.Properties.Settings>
            <setting name="ListImageSize" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MaxImageSize" serializeAs="String">
                <value>320, 240</value>
            </setting>
        </SymbolManager.Properties.Settings>
    </applicationSettings>
</configuration>