<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADADataAccess.Properties.Settings.ADAConnectionString"
            connectionString="Data Source=WIN2003;Initial Catalog=ADA;Persist Security Info=True;User ID=ada;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>